In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from time import time
from datetime import datetime, date
import os

In [2]:
os.chdir(r'N:\ALGORITHMIC MARKETING\ASSIGNMENTS\Assignment 2\Algo Marketing Assignment 2\ecommerce-behavior-data-from-multi-category-store')

In [3]:
df_oct = pd.read_csv('2019-Oct.csv')

In [4]:
df_oct.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [5]:
#looking at only the cases where purchases were made
purchases = df_oct[df_oct.event_type.eq('purchase')]
purchases

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
162,2019-10-01 00:02:14 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564
308,2019-10-01 00:04:37 UTC,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
379,2019-10-01 00:06:02 UTC,purchase,5100816,2053013553375346967,NaN,xiaomi,29.51,514591159,0e5dfc4b-2a55-43e6-8c05-97e1f07fbb56
442,2019-10-01 00:07:07 UTC,purchase,13800054,2053013557418656265,furniture.bathroom.toilet,santeri,54.42,555332717,1dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f
574,2019-10-01 00:09:26 UTC,purchase,4804055,2053013554658804075,electronics.audio.headphone,apple,189.91,524601178,2af9b570-0942-4dcd-8f25-4d84fba82553
...,...,...,...,...,...,...,...,...,...
42448148,2019-10-31 23:55:13 UTC,purchase,26402784,2053013563651392361,NaN,NaN,102.45,516604399,a98bd433-57ac-42d0-ba81-e18b135a7a16
42448173,2019-10-31 23:55:21 UTC,purchase,47500017,2110937143172923797,construction.tools.light,puckator,20.59,514622109,5724116e-365b-4ac1-9d03-b8d66e1ccc7c
42448271,2019-10-31 23:56:03 UTC,purchase,1003306,2053013555631882655,electronics.smartphone,apple,577.89,512717356,f35ac37c-9573-4e30-b3d9-c09bb0b95a2b
42448362,2019-10-31 23:56:53 UTC,purchase,1004240,2053013555631882655,electronics.smartphone,apple,1054.60,533892594,3a5a3b01-2ab1-4a1d-a202-30d336e0057b
42448657,2019-10-31 23:59:16 UTC,purchase,4804056,2053013554658804075,electronics.audio.headphone,apple,160.57,544501248,e330d051-37ad-4dc3-b1ee-ff16a28b7998

In [9]:
top_brands = purchases.groupby('brand')['price'].sum()
top_brands = top_brands.sort_values(ascending= False)
top_brands = top_brands[:100]

In [10]:
top_brands.keys()

Index(['apple', 'samsung', 'xiaomi', 'huawei', 'acer', 'lg', 'lucente', 'sony',
       'oppo', 'lenovo', 'indesit', 'bosch', 'hp', 'artel', 'asus', 'beko',
       'haier', 'dauscher', 'canon', 'cordiant', 'philips', 'vivo', 'kivi',
       'navien', 'nokian', 'oneplus', 'omabelle', 'janome', 'tefal', 'midea',
       'epson', 'pulser', 'triangle', 'force', 'stels', 'starline', 'redmond',
       'elenberg', 'karcher', 'sv', 'atlant', 'yokohama', 'hansa', 'casio',
       'hubert', 'peda', 'meizu', 'bts', 'tcl', 'ariston', 'pioneer', 'skad',
       'brw', 'msi', 'lider', 'vitek', 'huter', 'nokia', 'sokolov', 'garmin',
       'jbl', 'dell', 'honor', 'yasin', 'yamaha', 'respect', 'electrolux',
       'braun', 'thomas', 'nikon', 'delonghi', 'dji', 'michelin', 'kenwood',
       'panasonic', 'arg', 'polaris', 'goodyear', 'bridgestone', 'sho-me',
       'rowenta', 'matador', 'viatti', 'tissot', 'candy', 'netechnics',
       'kipardo', 'rinnai', 'neoline', 'omron', 'genau', 'rals', 'fly',
       'microsoft', 'gigabyte', 'dewalt', 'gefest', 'belecoo', 'gorenje',
       'vegas'],
      dtype='object', name='brand')

In [11]:
octdf = df_oct[df_oct.brand.isin(top_brands.keys())]
octdf.shape

(26931624, 9)

In [12]:
octdf.isnull().sum()

event_time             0
event_type             0
product_id             0
category_id            0
category_code    5480514
brand                  0
price                  0
user_id                0
user_session           2
dtype: int64

In [14]:
octdf.groupby('brand')['price'].sum()

brand
acer        2.586429e+08
apple       3.430705e+09
arg         5.372459e+06
ariston     1.067527e+07
artel       5.839610e+07
                ...
vivo        2.985740e+07
xiaomi      6.181664e+08
yamaha      1.719024e+07
yasin       1.068144e+07
yokohama    9.853809e+06
Name: price, Length: 100, dtype: float64

In [15]:
df_oct1 = octdf

In [16]:
def fast_mode(df, key_cols, value_col):

    return (df.groupby(key_cols + [value_col]).size() 
                  .to_frame('counts').reset_index() 
                  .sort_values('counts', ascending=False) 
                  .drop_duplicates(subset=key_cols)).drop(columns='counts')

In [17]:
df_oct1.loc[df_oct1.category_code.isnull(), 'category_code'] = df_oct1.brand.map(fast_mode(df_oct1, ['brand'], 'category_code').set_index('brand').category_code)

C:\Users\nikhi\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [18]:
df_oct1.isnull().sum()

event_time             0
event_type             0
product_id             0
category_id            0
category_code    2120735
brand                  0
price                  0
user_id                0
user_session           2
dtype: int64

In [19]:
df_oct1 = df_oct1.dropna(subset=['user_session', 'category_code'], how='any')

In [20]:
df_oct1.shape

(24810887, 9)

In [21]:
df_oct1.isna().sum()

event_time       0
event_type       0
product_id       0
category_id      0
category_code    0
brand            0
price            0
user_id          0
user_session     0
dtype: int64

In [ ]:
#Remove rows where both the columns are NA
#df_oct1 = df_oct.dropna(subset=['brand', 'category_code'], how='all')
#df.dropna(subset=['EPS'], how='all', inplace=True)

In [22]:
#Remove before saving 
#df_oct2 = df_oct1.iloc[:20000000, :]

In [23]:
#df_oct2.head()

In [24]:
df_oct1.to_csv('2019_Oct_Sales.csv')